<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MicroPython Images Creator</title>
    <link type="text/css" rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h3 class="title">MicroPython micro:bit Image Creator</h3>
    <div class="grid-5-by-5">
      <div class="item">
        <input
          id="10"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="20"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="30"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="40"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="50"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="01"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="11"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="21"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="31"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="41"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="51"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
      <div class="item">
        <input
          id="00"
          type="range"
          name="youssef"
          min="0"
          max="10"
          value="0"
          class="slider"
        />
      </div>
    </div>
    <button class="btn">Copy</button>
  </body>
</html>
